<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>LiShu</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>用于拍摄礼簿照片进行 OCR 识别导入</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>用于将礼数事件添加到系统日历，方便提醒重要人情往来</string>
	<key>NSContactsUsageDescription</key>
	<string>用于从通讯录选择联系人并填充姓名和手机号</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
